.width{
    width: 50%;
    height: 500px;
}
.herobg-color{
    background-image: linear-gradient(to right,black, black,black, black, rgb(39, 2, 39), rgb(41, 2, 41), rgb(41, 2, 41));
}



/*   .heroimg{
    border: solid 4px purple;
    padding: 5px;
    border-left-color: purple;
    border-radius: 50%;
  } */
  @media (max-width: 992px) {
    .heroimg{
        height: 0;
        width: 0;
    }
}
.bookbtcolor{
    color: white;
    background-color: purple;
}
.bookbtcolor:hover{
    color: white;
    background-color: rgb(80, 2, 80);
}