.cart-card {
    height: auto;
    max-width: 400px; /* Set a maximum width */
    width: 100%; /* Allow the card to shrink to the available width */
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #141414;
  }
  
  @media (max-width: 1078px) {
    /* Add additional styling for screens less than 768px wide */
    .cart-card {
      max-width: 90%; /* Allow the card to take up the full width on smaller screens */
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 20px;
    }
    
  }
  
  .cart-card-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
.cartcardrow1{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.cartcardrow2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(58, 58, 58);
    margin-top: 20px;
}
.sharecart{
  margin-bottom: 35px;
  cursor: pointer;
}
.sharecartbutton:hover{
  background-color: #424141;
}
.shareicone{
  margin-left: 10px;
  font-size: 15px;
}
.sharecartbutton{
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  background-color: #262626;
  font-size: 15px;
  font-weight: bold;
}
.incart{
  border-bottom: #4d4848 solid 1px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  
  
}
.subtotal{
  color: rgb(163, 151, 151);
  font-size: 15px;
}
.ServiceFee{
  color: rgb(163, 151, 151);
  font-size: 15px;

}
.total{
  margin-top: 10px;
}
.cartcardbutton{
  margin-top: 25px;
  width: 100%;
  justify-content: center;
}

.policy{
  margin-top: 10px;
  width: 100%;
  justify-content: center;
  
}
.policycolor{
  color: rgb(163, 151, 151);
  
}
.checkoutbutton{
  border-radius: 10px;
  border: none;
  background-color: #005FF8;
  color: white;
  padding: 15px;
  width: 100%;
  font-size: 18px;
  font-family: 'Maven Pro', sans-serif;
}
.checkoutbutton:hover{
 
  background-color: #0958d6;
}